h1 {
    margin-top: 20px;
}

.navigation {
    float: left;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 999;
}

.profile-image {
    float: left;
    margin-top: 8px; 
}

.profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.quickprofile {
    float: left;
    margin: 0 0 0 10px;
}

#nav-links {
    clear: both;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-bottom: 15px
}

.content {
    float: right;
    width: 100%;
    margin-top: 50px;
    font-size: 1em;
    line-height: 2em;
}

.contact p {
    font-size: 0.9em;
}

.contact .highlight {
    color: #0B6ADF;
}

/* Hamburger menu */

.hamburger {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 6px 40px 0 0;
}

.hamburger .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Resume */

.education {
    width: 40%;
    float: left;
}

.education ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.graduation-year {
    font-size: 16px;
}

.program-name {
    font-weight: bold; 
}

.college {
    font-size: 20px;
}

.resume {
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 10px;
	padding: 0 25px;
    position: relative;
    width: fit-content;
    float: right;
    border: 1px solid #000;
}

.resume:hover {
    cursor: pointer;
}

.resume:focus {
	outline: 0;
}
