@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
    margin: 0 auto;
    width: 90%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
}

h1 {
    margin: 0;
}

.container {
    margin-top: 2em;
}

.name h2 {
    font-size: 2em;
}

.navigation {
    float: left;
    width: 20%;
    padding: 2.5%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.content {
    float: right;
    width: 70%;
    margin-top: 0px;
    font-size: 1.4em;
    line-height: 2em;
}

.navigation .socialicons ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.navigation .socialicons li {
    display: inline-block;
    padding: 10px 10px 10px 0;
}

.navigation .nav-links ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.navigation .nav-links li {
    padding-top: 25px;
    font-size: 1.4em;
}

.nav-links {
    padding-top: 20px;
    display: block;
}

.nav-links li:hover {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(32, 179, 184);
}

.nav-links a {
    padding-left: 10px;
    clear: both;
}

a {
    color: black;
    text-decoration: none;
}

#nav-links {
    padding: 0;
    background-color: white;
    display: block;
    overflow: hidden;
    font-size: 0.9em;
}

.contact .highlight {
    color: #0B6ADF;
}

/* Projects & Demo */

.projects {
    margin-top: 2%;
    font-size: 0.9em;
}

.project {
    width: 25%;
    display: inline-block;
    padding: 2%;
    text-align: center;
}

.project img {
    width: 92%;
    border-radius: 5px;
    padding: 2px;
    height: auto;
    border: 0.5px solid rgb(128, 132, 136);
}

.project-name {
    font-size: 1em;
    font-weight: bold;
}

.project-desc {
    font-size: 0.8em;
}

.demo-links {
    width: 100%;
    margin: 0;
}

.demo-links a {
    border: 1px solid darkgray;
    padding: 2%;
    margin-left: 5%;
}

.demo-links a:first-child {
    margin-right: 15%;
}

.demo-links a:hover {
    background-color: rgb(32, 179, 184);
    color: white;
}

/* Skills */

.skills-container {
  width: 90%;
  background-color: #ddd;
  margin-top: 40px;
  font-size: 0.8em;
  border-radius: 20px;
}

.skills {
  text-align: left;
  padding-left: 20px;
  line-height: 30px;
  color: white;
  border-radius: 20px;
}

.js {width: 90%; background-color: #4CAF50;}
.frameworks {width: 90%; background-color: rgb(33, 201, 243);}
.responsive {width: 95%; background-color: #1e6e7c;}
.css {width: 95%; background-color: rgb(89, 156, 182);}
.aspnet {width: 85%; background-color: #4D4DC3;}
.php {width: 80%; background-color: #3F7C97;}


/* Resume */

.resume-head { 
    overflow: hidden;
}

.resume-head h1 {
    float: left;
    width: 50%;
}

.resume-head a {
    text-transform: uppercase;
	padding: 6px 25px;
    width: 100px;
    float: right;
    border: 1px solid #000;
}

.resume-head a:hover {
    background-color: rgb(32, 179, 184);
    color: #fff;
    cursor: pointer;
}

.resume-head a:focus {
	outline: 0;
}

.resume-details {
    overflow: hidden;
}

.education {
    float: right;
    width: 45%;
}

.education {
    width: 45%;
    float: left;
}

.fa-file-pdf-o {
    padding-left: 2%;
}

.education ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.graduation-year {
    font-size: 0.85em;
    font-weight: bold;
}

.program-name {
    font-size: 1.2em;
    font-weight: bold; 
}

.college {
    font-size: 1em;
}

.edu-details {
    padding-bottom: 4%;
}

.ipad-grad-details {
    display: none;
}

.work-experience {
    float: left;
    width: 45%;
    padding-right: 5%;
}

.work-experience ul {
    list-style: none;
    padding: 0;
}

.work-details:first-child {
    padding-bottom: 5%;
}

.position{
    font-size: 1em;
    font-weight: bold;
}

.duration {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 2%;
}

.company {
    font-size: 1.2em;
    font-weight: bold;
}

.company:hover {
    color: rgb(32, 179, 184);
}

.job{
    font-size: 0.9em;
}

.footer-image {
    width: 100%;
    position: fixed;
    bottom: 0;
    opacity: 0.6;
}

