@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

body {
    margin: 0 auto;
    width: 90%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
}

h1 {
    margin: 0;
}

.container {
    margin-top: 2em;
}

.navigation {
    float: left;
    width: 20%;
    padding: 2.5%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

.footer-image {
    width: 100%;
    position: fixed;
    bottom: 0;
    opacity: 0.6;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.content {
    float: right;
    width: 70%;
    margin-top: 0px;
    font-size: 1.4em;
    line-height: 2em;
}

.navigation .socialicons ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.navigation .socialicons li {
    display: inline-block;
    padding: 10px 10px 10px 0;
}

.navigation .nav-links ul {
    list-style: none;
    margin: 0; 
    padding: 0;
}

.navigation .nav-links li {
    padding-top: 25px;
}

.nav-links {
    padding-top: 20px;
    display: block;
}

.nav-links a {
    padding-left: 10px;
    clear: both;
}

a {
    color: black;
    text-decoration: none;
}

#nav-links {
    padding: 0;
    background-color: white;
    display: block;
    overflow: hidden;
    font-size: 0.9em;
}

.contact .highlight {
    color: #0B6ADF;
}

/* Skills */

.skills-container {
  width: 80%;
  background-color: #ddd;
  margin-top: 40px;
  font-size: 0.8em;
  border-radius: 20px;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 30px;
  color: white;
  border-radius: 20px;
}

.js {width: 90%; background-color: #4CAF50;}
.frameworks {width: 90%; background-color: #2196F3;}
.responsive {width: 95%; background-color: #f44336;}
.css {width: 95%; background-color: #9A18A8;}
.aspnet {width: 85%; background-color: #4D4DC3;}
.php {width: 80%; background-color: #3F7C97;}


/* Resume */

.education {
    width: 45%;
    float: left;
}

.education ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.graduation-year {
    font-size: 16px;
}

.program-name {
    font-weight: bold; 
}

.college {
    font-size: 20px;
}

.resume {
    font-size: 16px;
	text-transform: uppercase;
	padding: 0 25px;
    position: relative;
    width: fit-content;
    float: right;
    border: 1px solid #000;
}

.resume:hover {
    background-color: #4D4DC3;
    color: #fff;
    cursor: pointer;
}

.resume:focus {
	outline: 0;
}

.resume-details ul {
    
}

.left-block {
    float: left;
}
